/* Few Basic classes */
body{
    background-color: #262626;

}

.bg-red{
    background-color: e82e00;
}

.bg-green{
    background-color: #64dd17 ;
}

.padding-10{
    padding: 10px;
}

.margin-5{
    margin: 5px;
}

.margin-10{
    margin: 10px;
}
/*navbar*/

.navbar{
display: inline-block;
width: 100%;
text-align: center;
height: 30px;
top: 0;
left: 0;
padding: 5px;
text-decoration: none;}

.oldalneve{
    padding: 10px;
}

.linkek > a{
    padding: 5px;
}

 .linkek > a:hover{
    background-color: #64dd17;
}

a{
    text-decoration: none;
    color: white;
}

#csapatcim{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 13px;
}


/* Csapat oldal CSS cards */

.card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 200px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    padding: 22px;
    overflow: hidden;
    border-radius: 12px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
   line-height: 1.5;
   font-weight: 750;

}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #fbfcfc;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    
}

.card::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 7px;
    height: 100%;
    background: linear-gradient(-45deg, #2e7d32 0%, #64dd17 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before{
    width: 100%;
}
/*footer*/
footer{
    text-align:center;
    background-color: #262626;
    color:#fff;
    padding:3%;
    margin-top: 5%;
}

/* grid */


*{
    margin:0;
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}


.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.row{
    font-size: 0;
}
[class^="col-"]{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}
.img-fluid{
    width: 100%;
}
.col-1{ width: calc(100% / 12 * 1 - 20px); }
.col-2{ width: calc(100% / 12 * 2 - 20px); }
.col-3{ width: calc(100% / 12 * 3 - 20px); }
.col-4{ width: calc(100% / 12 * 4 - 20px); }
.col-5{ width: calc(100% / 12 * 5 - 20px); }
.col-6{ width: calc(100% / 12 * 6 - 20px); }
.col-7{ width: calc(100% / 12 * 7 - 20px); }
.col-8{ width: calc(100% / 12 * 8 - 20px); }
.col-9{ width: calc(100% / 12 * 9 - 20px); }
.col-10{ width: calc(100% / 12 * 10 - 20px); }
.col-11{ width: calc(100% / 12 * 11 - 20px); }
.col-12{ width: calc(100% / 12 * 12 - 20px); }

@media only screen and (min-width:600px){
    .col-sm-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-sm-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-sm-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-sm-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-sm-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-sm-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-sm-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-sm-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-sm-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-sm-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-sm-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-sm-12{ width: calc(100% / 12 * 12 - 20px); }
}
@media only screen and (min-width:768px){
    .col-lg-1{ width: calc(100% / 12 * 1 - 20px); }
    .col-lg-2{ width: calc(100% / 12 * 2 - 20px); }
    .col-lg-3{ width: calc(100% / 12 * 3 - 20px); }
    .col-lg-4{ width: calc(100% / 12 * 4 - 20px); }
    .col-lg-5{ width: calc(100% / 12 * 5 - 20px); }
    .col-lg-6{ width: calc(100% / 12 * 6 - 20px); }
    .col-lg-7{ width: calc(100% / 12 * 7 - 20px); }
    .col-lg-8{ width: calc(100% / 12 * 8 - 20px); }
    .col-lg-9{ width: calc(100% / 12 * 9 - 20px); }
    .col-lg-10{ width: calc(100% / 12 * 10 - 20px); }
    .col-lg-11{ width: calc(100% / 12 * 11 - 20px); }
    .col-lg-12{ width: calc(100% / 12 * 12 - 20px); }
}